@model Teacher
<h2>Teacher Update</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Teacher" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="SurName" class="form-label">SurName</label>
                <input asp-for="SurName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Phone</label>
                <input asp-for="Phone" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="AugurationDate" class="form-label">AugurationDate</label>
                <input asp-for="AugurationDate" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>