@model CourseRegistration

<h2>Add Course Register</h2>
<hr>
<form asp-controller="CourseRegistration" asp-action="AddCourse" method="post">
    <div class="mb-3">
        <label asp-for="StudentId" class="form-label">Öğrenci</label>
        <select asp-for="StudentId" asp-items="ViewBag.allStudents" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="CourseId" class="form-label">Kurs</label>
        <select asp-for="CourseId" asp-items="ViewBag.allCourses" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>

</form>